<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <img 
      src="assets/img/logo.png" 
      height="40px"
      class="logo">
    
    
    <mat-form-field appearance="outline" floatLabel="always" class="select-place">
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-select id="select" placeholder="พื้นที่ใกล้ฉัน">
      </mat-select>
    </mat-form-field>    

    <mat-form-field appearance="outline" floatLabel="always" class="search-bar">
      <mat-label></mat-label>
      <input matInput type="search" placeholder="ค้นหา ชื่อ ร้านอาหาร และเครื่องดื่ม ร้านธงฟ้า ร้านค้า OTOP และสินค้าทั่วไป">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>หน้าแรก / ค้นหา</span>
  </mat-toolbar-row>
</mat-toolbar>