<h2><b>ผลการค้นหา ร้านอาหารและเครื่องดื่ม</b></h2>

<mat-grid-list cols="3">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <mat-card-title>
        <h3><b>ประเภทร้านค้า</b></h3>
      </mat-card-title>

      <mat-card-content *ngIf="config">
        <mat-radio-group class="radio-group">
          <mat-radio-button 
          class="radio-button" value="ทั้งหมด">ทั้งหมด</mat-radio-button>
          <mat-radio-button 
            class="radio-button" 
            value="1"
            *ngFor="let category of config.categories">
            {{category.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>

      <mat-card-title>
        <h3><b>จังหวัด/ใกล้ฉัน</b></h3>
      </mat-card-title>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">2</mat-grid-tile>
</mat-grid-list>