h2 {
  margin: 1.6667%;
}

mat-card {
  width: 100%;
  height: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.sidebar-form-field {
  width: 100%;
}

#place::ng-deep .mat-select-placeholder {
  color:black;
}
